html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  background: #000;
  align-items: center;
  justify-content: center;
  position: relative;
}

canvas {
  border: 1px solid #fff;
}

canvas.tetris-info {
  position: absolute;
  left: 50%;
  top: 50%;
}
